<html>
<head>
  <title>chiron.urmc.rochester.edu</title>
</head>
<body>

  <p>
    <b>cmhost.gccis.ritedu</b> 
    is a web server 
    at the 
    <a href="http://www.rit.edu">Rochester
    Institure Technology</a>
    used to conduct online surveys.
  </p>

  <p>
    All surveys on <b>cmhost</b> must be reviewed and approved by the
    Rochester Institute of Technology's
    <a href="https://www.rit.edu/research/hsro/">Human Subjects Review
    Office</a>.
  </p>

</body>
</html>
