<p>
  Thank you for taking the survey. Please do not press the "back button" 
  on your browser. We will contact you soon with information about how to 
  receive and redeem your Amazon gift certificate.  
</p>

<p style="font-weight: bold;">
  More Information:
</p>
   
<p>
  For more information or questions about 
      this research you may contact Dr. Deirdre Schlehofer at (585) 286-5591. If you 
      have questions, concerns or complaints about your rights as a research 
      subject you may contact, anonymously if you wish, the RIT
      Institutional Review Board at 1 Lomb Memorial Drive, Rochester, NY,
      14623-5603, 
      Telephone 011(585) 475-2167. You may also call these numbers if you cannot reach 
      the research staff or wish to talk to someone else.
</p>
